body{
    background-color: white;
    color: black;
    font-size: 25px;
}    
#id {
    color: black;
}
h1{
    color: black;
    font-size: xx-large;
    text-align: center;
    width: 800px;
    margin: 60px auto;
    font-family: sans-serif;
    background-color: white

    ;
}
h2{
    color: black;
    font-size: xx-large;
    text-align: center;
    width: 800px;
    margin: 50px auto;
    font-family: sans-serif;
    background-color: white
    ;
}

span {
    color: red;
}